div{
    border:1px dotted black;
}
#wrapper{
    margin-top:100px;
}

#name{
    margin : auto;
    width: 1000px;
}
h1{
    font-family: fantasy;
    font-size: 120px;
}
#description{
    margin:auto;
    text-align: center;

}
p{
    background-color: cornsilk;
    font-size:24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#start{
    margin:auto;
    width:240px;
}
button {
  background-color: #080908; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}